body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box div {
  display: inline-block;
  padding: 3px;
  text-align: center;
  color: #000000;
  font-family: arial, sans-serif;
}

.border {
  border: 1px solid black;
}

.blueRow {
  background-color: cyan;

}

@media (min-width: 992px){
  .container{
    max-width:70%;
  }
}